
html {overflow-y:scroll;}
body {margin:0 5px; padding:0; color:#333; background:#fff; font:75%/normal Arial, Helvetica, sans-serif;}




.hvbdsjhvsdjsvjsd {display:block !important; position:absolute !important; top:0 !important; left:-500em !important; overflow:hidden !important; text-align:left !important; text-indent:-9999em !important; line-height:0 !important; width:1px !important; height:1px !important;}
.textright {text-align:right !important;}
.hvbdsjhvsdjsvjsdH {text-align:center !important;}






body {
  background-color: #F8F8F8;
  margin: 0;
}
#hsdksdhksdhksdhk, #page {
  background-color: #F8F8F8;
  min-width: 1008px;
  width: 100%;  
}
div#kshgbvskahgvbsksaksa, .hshvsdhvsdsdhvsd #kshgbvskahgvbsksaksa{
  background-color: #fff;
  
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  clear: both;
  margin: 0 auto 20px;
  min-height: 200px;
  outline: 0;
  overflow: auto;
  width: 988px;
  
}
#hsdksdhksdhksdhk #kshgbvskahgvbsksaksa {
  background: #fff;
  margin: 0 auto 25px;
  padding: 15px;
  overflow: auto;
  position: relative;
  width: 960px;
}

#page #kshgbvskahgvbsksaksa {
  background: #fff;
  margin: 0 auto 25px;
  padding: 15px 117px;
  width: 750px;
}




					#sbdksdjbdskjbdskbds {
						display: none;
					}
					#jsbksbvdsksdbksadj {
						display: block;
						margin: 32px auto;
						height:30px;
						width:30px;
						-webkit-animation: rotation .7s infinite linear;
						-moz-animation: rotation .7s infinite linear;
						-o-animation: rotation .7s infinite linear;
						animation: rotation .7s infinite linear;
						border-left:8px solid rgba(0,0,0,.20);
						border-right:8px solid rgba(0,0,0,.20);
						border-bottom:8px solid rgba(0,0,0,.20);
						border-top:8px solid rgba(33,128,192,1);
						border-radius:100%;
					}
					div#kshgbvskahgvbsksaksa {
						overflow:hidden;
					}
					@keyframes rotation {
						from {transform: rotate(0deg);}
						to {transform: rotate(359deg);}
					}
					@-webkit-keyframes rotation {
						from {-webkit-transform: rotate(0deg);}
						to {-webkit-transform: rotate(359deg);}
					}
					@-moz-keyframes rotation {
						from {-moz-transform: rotate(0deg);}
						to {-moz-transform: rotate(359deg);}
					}
					@-o-keyframes rotation {
						from {-o-transform: rotate(0deg);}
						to {-o-transform: rotate(359deg);}
					}
					h3 {font-size:1.4em; margin:4em 0 0 0; line-height:normal;}
					p.jsbksbvdsksdbksadjaa {color:#656565; font-size:1.2em;}
					p.jsbksbvdsksdbksadjaa a {color:#656565;}
					p strong {margin-top:2em; color:#1A3665; font-size:1.25em;}
					img.hdkhbdksdbkjds {margin:2em auto;}

			




